/*------------------------------------*\
#FONTS
\*------------------------------------*/


/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* typography */
    --global-root-font-size: 16px;

    /* whitespace */
    --global-baseline: 0.5rem;
    --global-whitespace-xxs: var(--global-baseline); /* = 8px */
    --global-whitespace-xs: calc(var(--global-baseline) * 2); /* = 16px */
    --global-whitespace-sm: calc(var(--global-baseline) * 3); /* = 24px */
    --global-whitespace-md: calc(var(--global-baseline) * 4); /* = 32px */
    --global-whitespace-lg: calc(var(--global-baseline) * 5); /* = 40px */
    --global-whitespace-xl: calc(var(--global-baseline) * 6); /* = 48px */

    /* colors */
    --global-alpa: #89303e;
    --global-alpa-light: #a14252;
    --global-beta: #3d5a6e;
    --global-beta-light: #4a98cf;

    /* transitions */
    --global-transitionEasing-out: ease-out;
    --global-transitionDuration-alpha: .1s;

    /* box shadows */
    --global-alpa-boxshadow: 0 0 6px 3px rgb(137, 48, 77, 0.7);
    --global-beta-boxshadow: 0 0 4px 2px rgb(74, 99, 117, 0.7);
}

html{
    background-color: #191919;
    font-size: var(--global-root-font-size);
    font-family: 'Bodoni MT', serif;
    min-height: 100vh;
    color: white;
    letter-spacing: 0.1rem;
}

::selection {
    color: white;
    background: var(--global-beta-light);
}

body {
    min-height: 100vh;
}

h1{
    font-family: Bodoni MT Poster;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: var(--global-whitespace-xl);
    letter-spacing: 0.2rem;
}


/*========================= app ======================*/
.container{
    min-height: 100vh;
}

/*-------- mockup ----------*/
.c-mockup{
    display: none;
    height: 0;
}

/*-------- text ----------*/
.c-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.c-text__text-small{
    font-size: 0.8rem;
}

.c-text__email{
    margin-top: 1rem;
    display: flex;
}

/*--------submit------*/
.c-text__email-submit{
    background-color: var(--global-alpa);
    border-radius: 0 1rem 1rem 0;
    border: 0.2rem solid var(--global-alpa);
    border-left: none;
    background-color: var(--global-alpa);
    padding: 0.5rem 0.9rem;
    transition: all 0.5s ease;
    outline: none;
    width:20px;
    height:20px;
}

.c-text__email-submit:hover {
    box-shadow: var(--global-alpa-boxshadow);
    background-color: var(--global-alpa-light);
    border-color: var(--global-alpa-light);
}

.c-text__email-submit:active, .c-text__email-submit:focus{
    border-color: var(--global-beta);
    background-color: var(--global-beta);
    box-shadow: var(--global-beta-boxshadow);
}


/*--------input-----*/
.c-text__email-input{
    display: block;
    width: 70%;
    border-radius: 1rem 0 0 1rem;
    border: 0.2rem solid var(--global-alpa);
    background-color: white;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: black;
    transition: all 0.5s ease;
    outline: none;
}

.c-text__email-input:hover {
    box-shadow: var(--global-alpa-boxshadow);
    border-color: var(--global-alpa-light);
}

.c-text__email-input:focus, .c-text__email-input:active{
    border-color: var(--global-beta);
    box-shadow: var(--global-beta-boxshadow);
}

.c-text__email-input::placeholder{
    color: black;
    font-family: inherit;
}

.c-text__download{
    display: flex;
    margin-top: 5rem;
}

.c-text__download > img{
    width: 48%;
    height: auto;
}

.u-download__first{
    margin-right: 4%;
}

.u-margin-top{
    margin-top: 2.5rem;
}

.u-italic{
    font-style: italic;
}

/*========================= media query's ===================*/
@media (min-width: 62em) {
    .container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100vh;
    }

    /*-------- mockup ----------*/
    .c-mockup{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65%;
        margin: var(--global-whitespace-xxs) 0;
    }

    .c-mockup__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .c-mockup__image{
        max-width: 100%;
        height: auto;
    }

    .c-mockup__mockup{
        max-width: 26%;
        height: auto;
        transform: translateY(-70%);
    }
}






@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
