:root {
    /* typography */
    --global-root-font-size: 16px;
    --global-font-fam: 'Bodoni MT', sans-serif;

    /* whitespace */
    --global-baseline: 0.5em;
    --global-whitespace-xxs: var(--global-baseline); /* = 8px */
    --global-whitespace-xs: calc(var(--global-baseline) * 2); /* = 16px */
    --global-whitespace-sm: calc(var(--global-baseline) * 3); /* = 24px */
    --global-whitespace-md: calc(var(--global-baseline) * 4); /* = 32px */
    --global-whitespace-lg: calc(var(--global-baseline) * 5); /* = 40px */
    --global-whitespace-xl: calc(var(--global-baseline) * 6); /* = 48px */

    /* colors */
    --global-alpa: #89303e;
    --global-alpa-light: #a14252;
    --global-beta: #4a6375;

    /* border */
    --global-border: 4px var(--global-alpa) solid;
    --global-border-radius: 10px;


    /* transitions */
    --global-transition: all 0.4s ease;

    /* box-shadow */
    --global-box-shadow: 0 8px 16px rgba(23, 22, 26, 0.15);
    --global-box-shadow-button: 0 3px 6px rgba(32, 4, 4, 0.3);
    --global-box-shadow-outline: 0 0 0 3px rgba(137, 48, 77, 0.3);
}

html{
    font-size: var(--global-root-font-size);
    font-family: var(--global-font-fam);
    letter-spacing: 0.1em;
    background-image: url(../img/Arend.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.o-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 32em; 
    width: 100%;
}



/*---------------header--------------*/
header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.header-title{
    font-family: 'Bodoni MT Poster', sans-serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 0.9em;
    margin-top: 0;
    margin-bottom: var(--global-whitespace-sm);
    letter-spacing: 0.05em;
}

.header-logo{
    height: 6em;
    margin-top: var(--global-whitespace-xxs);
}

/*-------------------------c-app-----------------------*/
.c-app{
    background-color: white;
    padding: 0.8em 2.5em 2em 2.5em;
}

@media (min-width: 40em) {
    .c-app{
        box-shadow: var(--global-box-shadow);
        border-radius: var(--global-border-radius);
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

.c-subtitle{
    max-width: 13em;
    margin-bottom: var(--global-whitespace-xs);
}

/*--- form select---*/
.c-form__select{
    width: 100%;
    height: 2.5em;
    background-color: white;
    color: inherit;
    font-family: inherit;
    border: var(--global-border);
    border-radius: var(--global-border-radius);
    transition: var(--global-transition);
}

.c-form__select:focus{
    box-shadow: var(--global-box-shadow-outline);
    outline: none !important;
}

.c-form__textarea-grid{
    display: grid;
    grid-template: auto / 1fr 1fr;
}

.c-text-field{
    border: var(--global-border);
    border-radius: var(--global-border-radius);
    min-height: 10em;
}

/*----button----*/
.c-form__grid-button{
    width: 100%;
    font-family: inherit;
    background-color: var(--global-alpa);    
    border-radius: var(--global-border-radius);
    outline: none;
    border: none;
    height: 2.5em;
    color: white;
    letter-spacing: 70;
    box-shadow: var(--global-box-shadow-button);
    transition: var(--global-transition);
}

.c-form__grid-button:hover{
    transform: translateY(-0.1em);
    background-color: var(--global-alpa-light);
}

.c-form__grid-button:focus{
    box-shadow: var(--global-box-shadow-outline);
    outline: none !important;
}

.c-form__grid-button:active{
    transform: translateY(0.15em);
    background-color: var(--global-alpa);
    box-shadow: none;
    outline: none !important;
}

/*-----------------utility's-------------------*/

.u-bold{
    font-weight: bold;
}

.u-margin-bottom{
    margin-bottom: 3em;
}

.u-margin-bottons-xs{
    margin-bottom: 0.5em;
}
