:root {
    /* typography */
    --global-root-font-size: 16px;
    --global-font-fam: 'Bodoni MT', sans-serif;

    /* whitespace */
    --global-baseline: 0.5em;
    --global-whitespace-xxs: var(--global-baseline); /* = 8px */
    --global-whitespace-xs: calc(var(--global-baseline) * 2); /* = 16px */
    --global-whitespace-sm: calc(var(--global-baseline) * 3); /* = 24px */
    --global-whitespace-md: calc(var(--global-baseline) * 4); /* = 32px */
    --global-whitespace-lg: calc(var(--global-baseline) * 5); /* = 40px */
    --global-whitespace-xl: calc(var(--global-baseline) * 6); /* = 48px */

    /* colors */
    --global-alpa: #89303e;
    --global-alpa-light: #a14252;
    --global-beta: #3d5a6e;
    --global-beta-light: #4a98cf;
    --global-gray: #2b2a2a;
    --global-gray-light: #424242;

    /* border */
    --global-border: 4px var(--global-alpa) solid;
    --global-border-radius: 0.5rem;


    /* transitions */
    --global-transition: all 0.4s ease;

    /* box-shadow */
    --global-box-shadow: 0 6px 16px rgba(29, 25, 25, 0.3);
    --global-box-shadow-button: 0 3px 6px rgba(32, 4, 4, 0.3);
    --global-box-shadow-outline: 0 0 0 3px rgba(61, 90, 110, 0.5);
}

html{
    font-size: var(--global-root-font-size);
    font-family: var(--global-font-fam);
    letter-spacing: 0.1em;
    background-image: url(../img/Arend.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
    fill:  white;
}

::selection {
    color: white;
    background: var(--global-beta-light);
}

.o-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 32em; 
    width: 100%;
}



/*---------------header--------------*/
header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.header-title{
    font-family: 'Bodoni MT Poster', sans-serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 0.9em;
    margin-top: 0;
    margin-bottom: var(--global-whitespace-sm);
    letter-spacing: 0.05em;
}

.header-logo{
    height: 6em;
    margin-top: var(--global-whitespace-xxs);
}


/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*-------------------------c-app-----------------------*/
.c-app{
    background-color: #2e2d2d;
    padding: 0.8em 2.5em 2em 2.5em;
}

@media (min-width: 40em) {
    .c-app{
        box-shadow: var(--global-box-shadow);
        border-radius: var(--global-border-radius);
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

.c-subtitle{
    max-width: 13em;
    margin-bottom: var(--global-whitespace-xs);
}

/*--- form select---*/
.c-form__select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 2.5em;
    background-color: var(--global-gray-light);
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    padding: 0 1rem;
    border: var(--global-border);
    border-radius: var(--global-border-radius);
    transition: var(--global-transition);
}

.c-form__select:focus{
    border-color: var(--global-beta);
    box-shadow: var(--global-box-shadow-outline);
    outline: none !important;
}

.c-custom-select {
    display: block;
    position: relative;
}

.c-custom-select__symbol {
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    top: 0.8rem;
    right: 1.4rem;
    pointer-events: none;
}

.c-form__textarea-grid{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 2fr 5fr;
}

.c-form__like-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.c-form__dislike-text{
    display: flex;
    align-items: center;
    margin: 0;
}

.c-text-field{
    border: var(--global-border);
    border-radius: var(--global-border-radius);
    min-height: 10em;
    padding: 0rem 1rem;
    background-color: var(--global-gray-light);
}

.c-text-field__response{
    position: relative;
}

.c-text-field__star{
    position: absolute;
    bottom: 0.5rem;
    right: 0.9rem;
}

.c-form__grid-like{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Like button */

.c-like__symbol {
	position: relative;
	width: 1.5rem;
	fill: var( --global-color-neutral-x-light );
	transform: scale(1);
	transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 2.275);
	will-change: transform;
}

.c-like__label{
    cursor: pointer;
}

.c-like__input:checked + .c-like__label .c-like__symbol {
	transform: scale(1.2);
	fill: var(--global-beta);
}

/*----button----*/
.c-form__grid-button{
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    letter-spacing: inherit;
    background-color: var(--global-alpa);    
    border-radius: var(--global-border-radius);
    outline: none;
    border: none;
    height: 2.5em;
    color: white;
    letter-spacing: 70;
    box-shadow: var(--global-box-shadow-button);
    transition: var(--global-transition);
}

.c-form__grid-button:hover, .c-form__grid-button:focus{
    transform: translateY(-0.1em);
    background-color: var(--global-alpa-light);
    outline: none !important;
}


.c-form__grid-button:active{
    transform: translateY(0.15em);
    background-color: var(--global-alpa);
    box-shadow: none;
    outline: none !important;
}

/*-----------------utility's-------------------*/

.u-bold{
    font-weight: bold;
}

.u-margin-bottom{
    margin-bottom: 3em;
}

.u-margin-bottons-xs{
    margin-bottom: 0.5em;
}
